include *.conf
include *.sh
include *.txt
include *.md
include LICENSE
include CHANGES.rst
include vanguards.1
include tox.ini
include .travis.yml
recursive-include src *.py
recursive-include tests *.mock
recursive-include tests *.py
recursive-include tests cached-microdesc-consensus
