include *.conf
include *.sh
include *.txt
include LICENSE
include tox.ini
include .travis.yml
recursive-include src *.py
recursive-include tests *.conf
recursive-include tests *.mock
recursive-include tests *.py
